  <% @secrets.reverse_each do | secret | %>
  <div id="<%= dom_id secret %>" class="bg-slate-100 rounded-xl p-2 m-1">
    <p class="">
      <strong class="block font-medium mb-1"><%= secret.title %></strong>
      <%= secret.content %>
    </p>
  </div>
  <% end %>